<style>
#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background: #f2f2f2;
    color: black;
    border-radius: 0px 0px 12px 12px;
    /* border-radius: 8px; */
}

#customers td, #customers th {
    /* /* border: 1px solid #f2f2f2; */ */
    padding: 8px;
}

/* #customers tr:hover {background-color: #ddd;} */

#customers th {
    /* padding-top: 12px; */
    /* padding-bottom: 12px; */
    /* border: 1px solid #f2f2f2; */
    text-align: left;
    background-color: #862525;
    color: white;
    border-radius: 0px;
}

</style>
