<!-- NAV -->
<nav >
<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="#news">News</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
  <li class="dropdown">
    <a href="" class="dropbtn">Usuarios</a>
    <div class="dropdown-content">
      <a href="/Usuarios/Crear">Crear Usuarios</a>
      <a href="/Usuarios/Ver">Ver Usuarios</a>
    </div>
  </li>
</ul>
</nav>
<!-- <nav>
  <ul>
          <li class="dropdown">
            <a href="" class="dropbtn">Usuarios</a>
            <div class="dropdown-content">
              <a href="/Usuarios/Crear">Crear Usuarios</a>
              <a href="/Usuarios/Ver">Ver Usuarios</a>
            </div>
          </li>
          <li class="dropdown">
            <a href="" class="dropbtn">Bodegas</a>
            <div class="dropdown-content">
              <a href="/Bodegas/Crear">Crear Bodega</a>
              <a href="/Bodegas/Ver">Ver Bodegas</a>
            </div>
          </li>
        </li>
        <li class="dropdown">
          <a href="" class="dropbtn">Materiales</a>
          <div class="dropdown-content">
            <a href="/Materiales/Cargar">Cargar Materiales</a>

          </div>
        </li>

        <li class="dropdown">
          <a href="" class="dropbtn">Proveedores</a>
          <div class="dropdown-content">
            <a href="/Proveedores/Cargar">Cargar Proveedores</a>
          </div>
        </li>
      <li class="right"><a href="/Logout">Logout</a></li>
  </ul>
</nav> -->
