{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% include "Bodeguero/CSS/dashboard.html" %}
{% include "Bodeguero/CSS/customers.html" %}
</head>
<body>

<div class="sidenav">
  <button class="dropdown-btn">Solicitudes
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="/Solicitudes/Buzon">Buzón</a>
  </div>
  <a href="/Logout">Logout</a>
</div>

<div class="main">
  <p  ">Solicitud</p>
  {% if solicitud %}
  <table id="customers">

    <tr>
      <th>Fecha</th>
      <th>Obra</th>
      <th>Ubicación</th>
      <th>Responsable</th>
      <th>Contacto</th>
      <th>Estado</th>
    </tr>
    <tr>
      <td>{{solicitud.fecha}}</td>
      <td>{{solicitud.obra.nombre}}</td>
      <td>{{solicitud.obra.ubicacion}}</td>
      <td>{{solicitud.obra.nombre_responsable}}</td>
      <td>{{solicitud.obra.email}}</td>
      <td>{{solicitud.estado}}</td>
    </tr>
  </table>
  {% endif %}
  <br/><br/>
  {% if itemSol%}
    <table id="customers">
            <tr>
              <th>categoría</th>
              <th>item</th>
              <th>cantidad</th>
              <th>estado</th>
              <th></th>
            </tr>
            {% for item in itemSol %}
            <tr>
              <td>{{item.material.categoria}}</td>
              <td>{{item.material.nombre}}</td>
              <td>{{item.cantidad_pedida}}</td>
              <td>{{item.estado}}</td>
              <td><a href="{% url 'revisarStock' item.pk %}">Revisar</a></td>

            </tr>
            {% endfor %}
    </table>
  {% endif %}
  <a href="/Solicitudes/Buzon" class="btn">VOLVER</a>

  <!-- {% ifequal todoOK 0 %}
  <a href="{% url 'despachar' solicitud.pk %}" class="btn">Despachar</a>
  {% endifequal %}
  {% ifequal todoOK 1 %}
  <a href="{% url 'solicitarCompra' solicitud.pk %}" class="btn">Generar orden de compra para elementos no asignados</a>
  {% endifequal %}
  {% ifequal todoOK 2 %}
  ESPERANDO..
  {% endifequal %} -->




</div>

<script>
var dropdown = document.getElementsByClassName("dropdown-btn");
var i;

for (i = 0; i < dropdown.length; i++) {
  dropdown[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var dropdownContent = this.nextElementSibling;
    if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
    } else {
      dropdownContent.style.display = "block";
    }
  });
}
</script>

</body>
</html>
