{% load static from staticfiles %}
<head>
  <meta charset='UTF-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/stylesGPI.css' %}">
  <link rel="stylesheet" href="{% static 'css/navGPI.css' %}">
  <link rel="stylesheet" href="{% static 'css/stylesLoginGPI.css' %}">
  <link rel="stylesheet" href="{% static 'css/tableStyleGPI.css' %}">

  <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/scriptGPI.js' %}"></script>

</head>
